/*
LESS FUNCTIONS
*/
.opacity ( @p ) {
	@ie: ceil( @p * 100 );

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ie})";
	filter: ~"alpha(opacity=@{ie})";
	-moz-opacity: @p;
	-khtml-opacity: @p;
	opacity: @p;
}
.transition( @time ) {
	-webkit-transition: ~'all @{time}s ease-out'; 
	   -moz-transition: ~'all @{time}s ease-out'; 
		 -o-transition: ~'all @{time}s ease-out'; 
			transition: ~'all @{time}s ease-out'; 
}
.border-box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

::selection {
	background-color: #ffc67b;
	color: #333;
}
body {
	margin: 0;
	padding: 0;
	display: block;
	
	font-size: 16px;
	line-height: 1.5em;
	color: #000;
	font-family: 'Roboto Slab',serif;
	word-break: break-word;
	
	background: #d8d8d8 url('../images/pattern-light.png') repeat top left;
}

a {
	color: inherit;
	text-decoration: none;
}
img {
	border: none;
}

#header {
    position: relative;
    padding: 1em;
	background-color: #000;
	background-color: rgba(0,0,0,0.7)!important;
	text-align: center;
	color: #fff;
    overflow: hidden;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000 url('../shop/4.JPG') no-repeat center;
        background-size: cover;
        //box-shadow: inset 0 5px 20px 2px #000;
        z-index: -1;
    }
}
h1 {
	display: block;
	color: #fff;
	background: transparent url('../images/logo.png') center no-repeat;
	background-size: contain;
	height: 77px;
	margin: 0 auto;
	padding: 0;
	text-indent: -9999px;
}
#moto {
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.3em;
}

@orange: #DF7E17;

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
    
    width: 100%;
	overflow: hidden;
	font-size: 0.9em;
	font-weight: 700;
    color: #eee;
	text-shadow: 0 2px 1px #333;

	li {
        display: inline-block;
		line-height: 2.2em;
		margin: 1.5em;
		.transition( 0.2 );
		
        > a { display: inline-block; }
        
        &:hover {
            color: #fff;
        }
        
		&.selected {
			color: lighten( @orange, 7% );
            border-top: 2px solid @orange;
            border-bottom: 2px solid @orange;
		}
	}
}
#banner {
	padding: 1.5em 1em;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    line-height: 1.5em;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
	position: relative;
    
    > i {
        font-size: 1.5em;
        font-weight: 700;
        color: @orange;
    }
}
.section {
	overflow: hidden;
	padding: 0.5em 6%;
}

h3 {
	margin: 0.6em 0 0.4em 0;
	padding: 0;
	font-size: 1.7em;
	line-height: 1.7em;
	text-shadow: 1px 1px 1px #fff;
    border-bottom: 0.1em solid;
}
ul.big {
    font-size: 1.3em;
    line-height: 1.7em;
}

ul.column {
	list-style-type: none;
	margin: 0 2% 0 0;
	padding-left: 2%;
	width: 48%;
	.border-box;
	float: left;
	
	border-left: 1px #777 dotted;
}
ul.sub {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		padding-left: 14px;
		font-weight: 300;
		background: transparent url('../images/ul.png') left no-repeat;
	}
}

#gotosamples {
	display: block;
	margin: 2em auto;
	padding: 0.5em;
	text-align: center;
	clear: both;
    width: 100%;
    max-width: 25em;
	
	font-size: 0.8em;
    font-weight: bold;
	background-color: rgba(0,0,0,0.5);
    color: #fff;
	border: 3px #000 solid;
    white-space: nowrap;
	.transition( 0.3 );
	
	> span {
		position: relative;
		left: 0;
		.transition( 0.1 );
	}
	
	&:hover {
		background-color: #000;
		text-shadow: 0 5px 7px #333;
        box-shadow: 0 0 10px #000;
		
		> span { left: 5px; }
	}
	&:active { background: lighten( @orange, 12% ); }
}

/* Samples */
.samplecontainer {
	display: none;
	overflow: hidden;
	
	padding: 5px;
	text-align: justify;
	
	background: rgba(0,0,0,0.2);
	border-style: dotted;
	border-width: 0 2px 2px;
	border-color: #555;
	
	> img {
		height: auto;
		width: auto;
		max-height: 100px;
		max-width: 120px;
		
		cursor: pointer;
		
		&:hover { .opacity( 0.9 ); }
	}
}
ul.samplesul {
	list-style-type: none;
	float: left;
	width: 48%;
	padding: 0;
	margin: 0 1%;

	li {
		padding: 0;
		margin: 0;

		> h3 {
			cursor: pointer;
			margin: 0.4em 0 0 0;
			text-shadow: -1px 1px 2px #fff;
			border-bottom: 2px #555 dotted;
			padding-left: 20px;
			background: transparent url('../images/expand.png') left no-repeat;
			.transition( 0.2 );
			
			&.expanded { background: transparent url('../images/collapse.png') left no-repeat; }
			&:hover { color: darken( @orange, 10% ); }
		}
	}
}
#shop h3,
#contact h3 {
	border-bottom: 2px #555 dotted;
}

.shopblock {
	overflow: hidden;
	
	> img {
		cursor: pointer;
		float: left;
		height: auto;
		width: 20%;
		padding: 0 1%;
		.border-box;
	}
}
/* Clients */
#clients {
	list-style-type: circle;
	margin: 0;
	font-size: 1.2em;
	line-height: 2.2em;
	font-weight: 300;
	
	li:first-letter {
		font-weight: 400;
		font-size: 1.3em;
	}
}
/*Contact*/
.details {
	font-weight: 300;
	font-size: 1.3em;
	line-height: 1.8em;
}
dl {
	margin: 5px 0;
	padding: 0;
}
dt {
	display: block;
	font-weight: 700;
	font-size: 0.7em;
	border-bottom: 1px #bbb solid;
}
dd {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: 300;
}

#cleft ,#cright{
	width: 50%;
	float: left;
	.border-box;
}
#cleft {
	padding: 0 5% 0 0;
}
#map {
	clear: both;
	display: block;
	padding-top: 2em;
}
#map iframe {
	display: block;
	height: 350px;
	width: 100%;
}

/* Images preview */
#black-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: none;
	z-index: 2;
	.opacity( 0.8 );
}
#outerprev {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	min-height: 50px;
	.border-box;
	display: none;
	padding: 0 12px;
	z-index: 3;
	text-align: center;
}
#innerprev {
	display: inline-block;
	border: 1px #444 dashed;
	max-width: 100%;
	max-height: 100%;
	margin: 20px auto;
	padding: 2px;
	.border-box;
	background-color: #eee;
	position: relative;
	.transition( 0.2 );
	
	> img {
		float: left;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		.transition( 0.2 );
	}
}
#closebutton {
	position: absolute;
	top: -15px;
	left: -15px;
	z-index: 100;
	display: inline-block;
	cursor: pointer;
}


.tip {
	font-weight: normal;
	font-size: 13px;
	font-family: arial,sanf-serif;
	color: #444;
	padding: 7px 20px;
	border: 1px #999 dashed;
	margin-bottom: 15px;
	background: #efefef url('../images/cross.jpg') top repeat;

	.close {
		font-weight: bold;
		font-size: 10px;
		text-shadow: none;
		cursor: pointer;
		margin-left: 10px;
	}
}

/* < 900px */
@media screen and (max-width: 1000px) {
	.shopblock > img { width: 25%; }
}
@media screen and (max-width: 900px) {
	body { font-size: 15px; }
	
	h2 { font-size: 1.8em; }
	
	ul.samplesul {
		width: 94%;
	}
	
	#cleft ,#cright{
		width: 100%;
		padding: 0;
	}
}

/* < 750px */
@media screen and (max-width: 750px) {
	body { font-size: 14px; }
	
	h2 { font-size: 1.6em; font-weight: 400; }
	
	ul.column {
		margin: 0 2%;
		padding-left: 2%;
		width: 96%;
	}
	.shopblock > img { width: 33.3333%; }
}

/* < 600px */
@media screen and (max-width: 600px) {body { font-size: 13px; } }
@media screen and (max-width: 500px) {
	body { font-size: 12px; }

	h2 { font-size: 1.3em; font-weight: 300; }
	
	.shopblock > img { width: 50%; }
}
@media screen and (max-width: 400px) { body { font-size: 11px; } }